<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User</title>
</head>
<body>
    <header>
        <a href="/quotes">Dashboard</a><span> | </span>
        <form action="/logout" method="post">
            {% csrf_token %}
            <input id="logout" type="submit" value="Logout">
        </form>
    </header>
    <!-- add post count -->
    <div class="postcount">
        <h3>Post by {{name.name}}</h3>
        <p>Counts: {{count}}</p>
    </div>
    <!-- add posts by user -->
    <div class="posts">
        <h4>Quotes Posted By {{name.name}}</h4>
        {% for post in posts %}
        <p>{{post.quoter}}: {{post.quote}}</p>
        {% endfor %}
    </div>
</body>
</html>